<% layout('/layouts/default.html', {title: '设备借用单管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('设备借用单管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('device_borrow:zbDeviceBorrow:edit')){ %>
					<a href="${ctx}/device/device_borrow/zbDeviceBorrow/form" class="btn btn-default btnTool" title="${text('新增设备借用单')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${zbDeviceBorrow}" action="${ctx}/device/device_borrow/zbDeviceBorrow/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('单据编号')}：</label>
					<div class="control-inline">
						<#form:input path="billCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('申请部门')}：</label>
					<div class="control-inline">
						<#form:input path="applyDeptCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('申请人')}：</label>
					<div class="control-inline">
						<#form:input path="applyCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('借出部门')}：</label>
					<div class="control-inline">
						<#form:input path="borrowDeptCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('借出人')}：</label>
					<div class="control-inline">
						<#form:input path="borrowCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("单据编号")}', name:'billCode', index:'a.bill_code', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/device/device_borrow/zbDeviceBorrow/form?id='+row.id+'" class="btnList" data-title="${text("编辑设备借用单")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("申请部门")}', name:'applyDeptName', index:'a.apply_dept_code', width:150, align:"left"},
		{header:'${text("申请人")}', name:'applyName', index:'a.apply_code', width:150, align:"left"},
		{header:'${text("借出部门")}', name:'borrowDeptName', index:'a.borrow_dept_code', width:150, align:"left"},
		{header:'${text("借出人")}', name:'borrowName', index:'a.borrow_code', width:150, align:"left"},
		{header:'${text("状态")}', name:'state', index:'a.state', width:150, align:"left", formatter: function(val, obj, row, act){
				return js.getDictLabel(${@DictUtils.getDictListJson('zb_device_management_state')}, val, '${text("未知")}', true);
		}},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('device_borrow:zbDeviceBorrow:edit')){ %>
				if (row.state == 0) {
					actions.push('<a href="${ctx}/device/device_borrow/zbDeviceBorrow/form?id='+row.id+'" class="btnList" title="${text("编辑设备借用单")}"><i class="fa fa-pencil"></i></a>&nbsp;');
					actions.push('<a href="${ctx}/device/device_borrow/zbDeviceBorrow/delete?id='+row.id+'" class="btnList" title="${text("删除设备借用单")}" data-confirm="${text("确认要删除该设备借用单吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
				}

				if (row.state == 1) {
					actions.push('<a href="${ctx}/device/device_borrow/zbDeviceBorrow/audit_form?id='+row.id+'" class="btnList" title="${text("审核维修申请单")}"><i class="fa fa-check-square-o"></i></a>&nbsp;');
				}
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>