<% layout('/layouts/default.html', {title: '设备信息表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('设备信息表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('device_info:zbDeviceAccounts:edit')){ %>
					<a href="${ctx}/device_info/zbDeviceAccounts/form" class="btn btn-default btnTool" title="${text('新增设备信息表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${zbDeviceAccounts}" action="${ctx}/device_info/zbDeviceAccounts/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('设备编码')}：</label>
					<div class="control-inline">
						<#form:input path="deviceCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('设备名称')}：</label>
					<div class="control-inline">
						<#form:input path="deviceName" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('设备类型')}：</label>
					<div class="control-inline width-120">
						<#form:select path="deviceType" dictType="" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("设备编码")}', name:'deviceCode', index:'a.device_code', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/device_info/zbDeviceAccounts/form?id='+row.id+'" class="btnList" data-title="${text("编辑设备信息表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("设备名称")}', name:'deviceName', index:'a.device_name', width:150, align:"left"},
		{header:'${text("设备类型")}', name:'deviceType', index:'a.device_type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('')}, val, '${text("未知")}', true);
		}},
		{header:'${text("登记人")}', name:'createBy', index:'a.create_by', width:150, align:"left"},
		{header:'${text("登记时间")}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text("修改人")}', name:'updateBy', index:'a.update_by', width:150, align:"left"},
		{header:'${text("修改时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('device_info:zbDeviceAccounts:edit')){ %>
				actions.push('<a href="${ctx}/device_info/zbDeviceAccounts/form?id='+row.id+'" class="btnList" title="${text("编辑设备信息表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>