<% layout('/layouts/default.html', {title: '设备闲置申请管理', libs: ['validate','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(zbDeviceFree.isNewRecord ? '新增设备闲置申请' : '编辑设备闲置申请')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${zbDeviceFree}" action="${ctx}/device/device_free/zbDeviceFree/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('单据编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="billCode" maxlength="64" class="form-control required" readOnly="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('申请日期')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input name="applyDate" maxlength="64" class="form-control required" readOnly="true" value="${@DateUtils.formatDate(zbDeviceFree.createDate,'yyyy-MM-dd')}"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('归属单位')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="createDeptName" maxlength="64" class="form-control required" readOnly="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('责任人')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="createByName" maxlength="64" class="form-control required" readOnly="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('备注信息')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<h4 class="form-unit">${text('闲置申请明细')}</h4>
				<span class="btn btn-sm btn-primary"style="margin-left: 10px; margin-bottom: 20px" id="chooseItems">选择设备台账</span>
				<div class="ml10 mr10">
					<table id="zbDeviceFreeItemDataGrid"></table>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('device_free:zbDeviceFree:edit')){ %>
							<span class="btn btn-sm" style="background-color: #00c0ef; color: #fff" id="btnSave"><i class="fa fa-check"></i> ${text('保存为草稿')}</span>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script src="/js/static/js/chooseItems.js" type="application/javascript"></script>
<script>
	var freeModel = ${toJson(zbDeviceFree)} || {};
	var freeArr = freeModel.zbDeviceFreeItemList || [];
	var auditState = false;

	if (freeModel.state == 2) {
		// 已审核
		$("#auditShow").show();
		$("#chooseItems").hide();
		$("#btnSubmit").hide();
		$("#btnSave").hide();
		$("#remarks").attr("readOnly","readOnly")
		auditState = true;
	}

	// 保存为草稿
	$("#btnSave").click(function () {
		$("#submitType").attr("name", "submitType");
		$("#inputForm").submit();
	});
	
	//初始化设备闲置申请明细表DataGrid对象
	$("#zbDeviceFreeItemDataGrid").dataGrid({
	
		data: freeArr,
		datatype: "local", // 设置本地数据
		autoGridHeight: function(){return 'auto'}, // 设置自动高度
		
		// 设置数据表格列
		columnModel: [
			{header:'状态', name:'status', editable:true, hidden:true},
			{header:'主键', name:'id', editable:true, hidden:true},
			{header:'${text("主表Id")}', name:'freeId.id', editable:true, hidden:true},
			{header:'${text("台账Id")}', name:'deviceAccountsId', width:150, editable:true,  hidden:true},
			{header:'${text("设备编码")}', name:'deviceAccountsCode', width:150, editable:false},
			{header:'${text("设备名称")}', name:'deviceName', width:150, editable:false},
			{header:'${text("型号")}', name:'unitType', width:150, editable:false},
			{header:'${text("规格")}', name:'spec', width:150, editable:false},
			{header:'${text("备注信息")}', name:'remarks', width:150, editable:true, edittype:'textarea', editoptions:{'maxlength':'255', 'class':'form-control', 'rows':'1'}},
			{header:'${text("操作")}', name:'actions', width:80, sortable:false, fixed:true, formatter: function(val, obj, row, act){
				var actions = [];
				if (auditState) {
					return '';
				}
				
				if (val == 'new'){
					actions.push('<a href="#" onclick="js.confirm(\'${text("你确认要删除这条数据吗？")}\', function(){$(\'#zbDeviceFreeItemDataGrid\').dataGrid(\'delRowData\',\''+obj.rowId+'\')});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
				}else{
					actions.push('<a href="#" onclick="js.confirm(\'${text("你确认要删除这条数据吗？")}\', function(){$(\'#zbDeviceFreeItemDataGrid\').dataGrid(\'setRowData\',\''+obj.rowId+'\',null,{display:\'none\'});$(\'#'+obj.rowId+'_status\').val(\''+Global.STATUS_DELETE+'\');});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
				}
				return actions.join('');
			}, editoptions: {defaultValue: 'new'}}
		],
	
		// 编辑表格参数
		editGrid: !auditState,		// 是否是编辑表格
		editGridInitRowNum: 0,		// 编辑表格的初始化新增行数
		// editGridAddRowBtn: $('#zbDeviceFreeItemDataGridAddRowBtn'),	// 子表增行按钮
		// editGridAddRowInitData: {id: '', status: Global.STATUS_NORMAL},	// 新增行的时候初始化的数据
		
		// 编辑表格的提交数据参数
		editGridInputFormListName: 'zbDeviceFreeItemList', // 提交的数据列表名
		editGridInputFormListAttrs: 'status,id,freeId.id,deviceAccountsId,remarks', // 提交数据列表的属性字段
		
		// 加载成功后执行事件
		ajaxSuccess: function(data){
			
		}
	});

	// 组装数据去列表
	var assembleDataToItems = function (checkData) {
		if (freeArr.length == 0) {
			checkData.forEach(function (data, index) {
				data.deviceAccountsId = data.id;
				delete data.id;
				freeArr.push(data);
			});
		} else {
			checkData.forEach(function (data, index) {
				var existIdx = undefined;
				freeArr.forEach(function (value, index) {
					if (data.id == value.deviceAccountsId) {
						existIdx = index;
					}
				});

				if (existIdx == undefined) {
					data.deviceAccountsId = data.id;
					delete data.id;
					freeArr.push(data);
				}
			});
		}

		$("#zbDeviceFreeItemDataGrid").jqGrid('setGridParam', { data: freeArr});
		$("#zbDeviceFreeItemDataGrid").trigger('reloadGrid');
	};

	// 选择设备台账按钮
	$("#chooseItems").click(function () {
		// 请求参数
		var searchParams = {
			"state": "1"
		};

		// 弹框参数组装，弹出弹框
		var options = {
			title: '选择设备台账',
			url: '${ctx}/device/device_accounts/zbDeviceAccounts/listData',
			// checkDataMethod: checkDataToItems(),
			searchParams: searchParams,
			assembleMethod: assembleDataToItems,
		}
		// 打开弹框
		chooseItems(options);
	});
</script>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>